.projects {
    &__title {
        z-index: 1000;
    }

    .projects_slider {
        overflow: hidden;
        padding: 5px;

        @media screen and (min-width: $large) {
            padding: 10px;
        }

        .projects_content {
            position: relative;
            display: flex;
            flex-wrap: nowrap;
            gap: 20px;
            overflow: visible;
            transition: all 1s ease;
            transform: translateX(0);

            @media screen and (min-width: $large) {
                // gap: 13px;
            }

            @media (orientation: landscape) {
                height: 100%;
                width: 100%;
            }

            .project {
                display: flex;
                flex-direction: column;
                min-width: 100%;
                height: fit-content;
                width: 100%;
                padding: 20px;
                border-radius: 10px;
                box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
                overflow: auto;
                gap: 20px;


                @media (orientation: landscape) {
                    height: 80%;

                    @media screen and (min-width: $large) {
                        min-width: 49.4%;
                        height: 100%;
                    }
                }


                &__title {
                    display: flex;
                    align-items: flex-end;
                    justify-content: flex-start;
                    gap: 10px;
                    font-size: 1.5rem;
                    font-weight: 900;
                    font-family: 'sectionTitle', sans-serif;

                    h3 {
                       display: inline-block;
                    }

                    .project_type {
                        padding: 3px 6px;
                        display: inline-block;
                        border-radius: 10px;
                        margin-bottom: 3px;
                        font-size: .7rem;
                        font-weight: 700;
                        color: $officeBlue;
                        background-color: $officeYellow;
                    }
                }

                &__content {
                    display: flex;
                    flex-direction: column;
                    gap: 30px;
                    max-width: 100%;

                    @media (orientation: landscape) {
                        flex-wrap: wrap;
                        height: 85%;
                        gap: 10px;

                        @media screen and (min-width: $large) {
                            flex-wrap: initial;
                        }
                    }

                    &__thumbnail {
                        display: flex;
                        align-self: center;
                        box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
                        width: fit-content;
                        height: fit-content;
                        border-radius: 10px;

                        img {
                            display: inline-block;
                            max-width: 100%;
                            max-height: 28vh;
                            height: 100%;
                            border-radius: 10px;
                        }
                    }

                    &__description {
                        font-size: 1.2rem;

                        @media (orientation: landscape) {
                            max-width: 65%;
                        }
                    }

                    &__technos {
                        max-width: 100%;
                        display: flex;
                        flex-wrap: wrap;
                        gap: 10px;

                        .techno {
                            display: flex;
                            align-items: center;
                            text-align: center;
                            padding: 5px 10px;
                            border-radius: 10px;
                            font-size: .8rem;
                            font-weight: 900;
                            color: $officeYellow;
                            background-color: $officeBlue;
                        }
                    }

                    &__links {
                        display: flex;
                        gap: 20px;

                        a {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            gap: 10px;

                            .icon {
                                width: 20px;
                                height: 20px;
                                background-size: contain;
                                background-repeat: no-repeat;
                                background-position: center;
                                filter: $filterOfficeBlue;
                            }
                        }
                    }
                }
            }
        }

    }
}