.profile_section {
    background: $web-orange;
    width: 100%;

    .content {
        margin: 0 40px;
        display: flex;
        gap: 30px;
        flex-direction: column;
        padding: 40px 0;
        color: $web-grey;
        height: 100vh;

        &__title {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 10px;

            img {
                max-width: 120px;
                border-radius: 50%;
            }

            h2 {
                color: $web-grey;
            }
        }

        &__route {
            display: flex;
            flex-direction: column;
            gap: 20px;
            height: 55%;
            overflow: scroll;

            &__step {
                display: flex;
                flex-direction: column;
                gap: 10px;
                h5 {
                    font-size: 1rem;
                }

                .formation {
                    display: flex;
                    flex-direction: column;
                    gap: 10px;
                    padding-left: 10px;

                    .degree {
                        padding-left: 20px;
                    }
                }

                .career {
                    display: flex;
                    flex-direction: column;
                    gap: 10px;
                    padding-left: 10px;

                    .job {
                        padding-left: 20px;
                    }
                }

                .volunteering {
                    display: flex;
                    flex-direction: column;
                    gap: 10px;
                    padding-left: 10px;

                    p {
                        padding-left: 20px;
                    }
                }
            }
        }
    }
}