body,
div,
section,
h1,
h2,
h3,
h4,
h5,
ul,
p,
span,
a{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

html, body, section {
    block-size: 100%;
}

html {
    scroll-snap-type: y mandatory;
    @media screen and (orientation: landscape) and (max-width: $large) {
        scroll-snap-type: none;
    }
}

section {
    width: 95%;
    max-width: 95%;
    max-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 5vh;
    margin: 0 auto;
    padding: 20px;
    overflow: hidden;
    scroll-snap-align: start;
    scroll-snap-stop: normal;

    @media screen and (orientation: landscape) {
        max-width: 95vw;
        padding: 40px 20px;

        // @media screen and (min-width: $large) {
        //     gap: 8vh;
        // }

        @media screen and (min-width: $xlarge) {
            gap: 10vh;
        }
    }
}

h1 {
    font-size: 2rem;
}

h2 {
    font-family: 'sectionTitle', sans-serif;
    font-size: 1.8rem;
    font-weight: 900;
    color: $officeBlue;

    @media screen and (min-width: $large) {
        font-size: 2.5rem;
    }
}

h3 {
    font-size: 1.2rem;
}