$darkblue: #0b2431;
$orange: #dd9300;
$blue1: #3E7188;
$officeBlue: #3785b0;
$filterOfficeBlue: invert(45%) sepia(75%) saturate(394%) hue-rotate(157deg) brightness(89%) contrast(92%);
$officeYellow: #ffd200;
$filterOfficeYellow: invert(78%) sepia(65%) saturate(1628%) hue-rotate(358deg) brightness(103%) contrast(105%);

$web-green: #c3e88d;
$web-grey: #263238;
$web-orange: #dd9300;
$web-blue: #5D9CEC;
$web-red: #f06a5d;

$small: 0; // 576px
$medium: 640px;
$large: 1024px;
$xlarge: 1200px;
$xxlarge: 1440px;

$introDuration: 4s;

@font-face {
    font-family: 'sectionTitle';
    font-style: normal;
    src: url('../fonts/Amaranth-Regular.woff2') format("woff2"),
        url('../fonts/Amaranth-Regular.woff') format("woff");
    font-display: swap;
}

@font-face {
    font-family: 'extraBold';
    font-style: normal;
    src: url('../fonts/Roboto-Bold.woff') format("woff");
    font-display: swap;
}