body,
h1,
h2,
h3,
h4,
h5,
ul,
p,
a {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

html, body, section {
  block-size: 100%;
}

html {
  scroll-snap-type: y mandatory;
}

section {
  scroll-snap-align: start;
  scroll-snap-stop: normal;
  display: flex;
}

h2 {
  color: #dd9300;
  font-size: 1.6rem;
}

/*
* Ex: @include breakpoint(large, down) {}
*/
.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: #3E7188;
}
.hero__title {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  min-height: 70px;
  gap: 10px;
  color: #dd9300;
}
.hero__title .line {
  align-self: center;
  border: 1px solid #dd9300;
  width: 120%;
  animation: line 3s;
}
@keyframes line {
  0% {
    width: 0%;
  }
  25% {
    width: 120%;
    @media (min-width: 640px) {
      .hero__title .line {
        width: 200%;
      }
    }
  }
}
@media (min-width: 640px) {
  .hero__title .line {
    width: 150%;
  }
}
@media (min-width: 1024px) {
  .hero__title .line {
    width: 200%;
  }
}
.hero__title .nameblock {
  min-height: 40px;
  overflow: hidden;
}
.hero__title .nameblock h1 {
  font-size: 2rem;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  animation: name 4s;
  transform-origin: 100% 100%;
}
@keyframes name {
  0% {
    transform: translateY(100%);
  }
  25% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0%);
  }
}
@media (min-width: 640px) {
  .hero__title .nameblock h1 {
    font-size: 3rem;
  }
}
@media (min-width: 640px) {
  .hero__title .nameblock {
    min-height: 60px;
  }
}
.hero__title .careerblock {
  min-height: 60px;
  overflow: hidden;
}
.hero__title .careerblock h2 {
  font-size: 1.6rem;
  white-space: nowrap;
  overflow: hidden;
  animation: subtitle 4s;
}
@keyframes subtitle {
  0% {
    transform: translateY(-100%);
  }
  25% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0%);
  }
}
@media (min-width: 640px) {
  .hero__title .careerblock h2 {
    font-size: 2rem;
  }
}

.projects_section {
  background: #263238;
  width: 100%;
}
.projects_section .content {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  align-content: flex-start;
  margin: 0 40px;
  padding: 40px 0;
  height: 100vh;
  box-sizing: border-box;
}
@media (min-width: 640px) {
  .projects_section .content {
    margin: 0 60px;
    gap: 0;
    justify-content: space-around;
  }
}
@media (min-width: 1024px) {
  .projects_section .content {
    margin: 0 100px;
    gap: 0;
    justify-content: flex-start;
    align-content: normal;
    padding: 70px 0;
  }
}
.projects_section .content .title {
  flex-grow: 1;
  flex-basis: 100%;
}
@media (min-width: 640px) {
  .projects_section .content .title {
    margin-bottom: 40px;
  }
}
@media (min-width: 640px) {
  .projects_section .content .title {
    flex-grow: 0;
  }
}
.projects_section .content .skills {
  display: flex;
  flex-wrap: wrap;
  flex-basis: auto;
  align-content: flex-start;
  justify-content: center;
  max-width: 100%;
}
@media (min-width: 640px) {
  .projects_section .content .skills {
    flex-basis: 30%;
    max-width: 30%;
    padding-right: 50px;
    gap: 20px;
  }
}
.projects_section .content .skills .skill {
  color: #f06a5d;
  font-size: 1rem;
  transition: all 250ms linear;
  background-color: transparent;
  padding: 8px 13px;
  cursor: pointer;
  border-radius: 15px;
}
@media (min-width: 640px) {
  .projects_section .content .skills .skill {
    font-size: 1.2rem;
    padding: 10px 20px;
  }
}
.projects_section .content .skills .skill:hover {
  background-color: #dd9300;
  color: #263238;
  translate: -5px -5px;
  box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.75);
}
.projects_section .content .skills .skill.active {
  border: 2px solid #dd9300;
}
.projects_section .content .projects {
  display: flex;
  flex-basis: auto;
  flex-direction: column;
  overflow-y: scroll;
  gap: 20px;
  max-height: 65%;
}
@media (min-width: 640px) {
  .projects_section .content .projects {
    flex-basis: 50%;
    max-height: 85%;
  }
}
@media (min-width: 1024px) {
  .projects_section .content .projects {
    flex-basis: 60%;
  }
}
.projects_section .content .projects .project {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.projects_section .content .projects .project.hidden {
  display: none;
}
.projects_section .content .projects .project__title {
  color: #5D9CEC;
  animation: proj-title 1.5s;
}
@keyframes proj-title {
  0% {
    transform: translateX(-10%);
    opacity: 0%;
  }
  100% {
    transform: translateX(0%);
    opacity: 100%;
  }
}
.projects_section .content .projects .project__content {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-left: 20px;
  color: #dd9300;
  animation: proj-content 1.5s;
}
@media (min-width: 640px) {
  .projects_section .content .projects .project__content {
    padding-left: 60px;
  }
}
@keyframes proj-content {
  0% {
    opacity: 0%;
  }
  50% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}
.projects_section .content .projects .project__content__name {
  font-size: 1.3rem;
  color: #5D9CEC;
}
.projects_section .content .projects .project__content__skills {
  line-height: 1.7rem;
}
.projects_section .content .projects .project__content a {
  color: #c3e88d;
}

.profile_section {
  background: #dd9300;
  width: 100%;
}
.profile_section .content {
  margin: 0 40px;
  display: flex;
  gap: 30px;
  flex-direction: column;
  padding: 40px 0;
  color: #263238;
  height: 100vh;
}
.profile_section .content__title {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.profile_section .content__title img {
  max-width: 120px;
  border-radius: 50%;
}
.profile_section .content__title h2 {
  color: #263238;
}
.profile_section .content__route {
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 55%;
  overflow: scroll;
}
.profile_section .content__route__step {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.profile_section .content__route__step h5 {
  font-size: 1rem;
}
.profile_section .content__route__step .formation {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-left: 10px;
}
.profile_section .content__route__step .formation .degree {
  padding-left: 20px;
}
.profile_section .content__route__step .career {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-left: 10px;
}
.profile_section .content__route__step .career .job {
  padding-left: 20px;
}
.profile_section .content__route__step .volunteering {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-left: 10px;
}
.profile_section .content__route__step .volunteering p {
  padding-left: 20px;
}

/*# sourceMappingURL=styles.css.map */
